html {
  width: 100%;
}

body {
  width: 100%;
  margin: auto;
  background-color: white;
}



/*Header and sticky header*/
header {
  width: 100%;
  background-color: #C9C9CB;
  position: fixed;
  height: 200px;
  z-index: 10000;
  margin-top: 3%;
}

.banner {
  width: 50%;
  height:200px;
  margin-left: 22%;
}

header li a {
  text-decoration: none;
  color: black; 
}

header nav { 
  background-color: white;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1.2rem;
  padding-bottom: 2%;
  padding-top: 1%;
  display: none;
}

header nav li {
  list-style: none;
  display: inline;
  float: left;
  margin-right: 5%;
  
}


header li a:hover {
  border-bottom: 2px solid #C9C9CB;
  text-decoration: none;
  color: black;
}

header.sticky .banner{
  width: 20%;
  max-width: 160px;
  min-width: 130px;
  height: 70px;
  margin-left: 3%;
}

header.sticky {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);  
  height: 112px;
  margin-top: 0;
  overflow: hidden;
}

header.sticky nav {
  display: block;
  
}
.clear-fix {
  clear: both;
  
}

article {
  padding: 3% 0%;
  position: relative;
  top: 125px;
}

h2, h3 {
  font-family: 'Hammersmith One', sans-serif;
  color: #C41E36;
  text-align: center;
}

.about-div{
  padding: 10% 5%;
  height: 550px;
  margin-bottom: 10%;
}




/*Styles for slideshow */
.slideshow-div {
  height: 550px;
  padding-top: 5%;
  background-color: #C9C9CB;
}
.slide-viewer {
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 75%;
  margin: auto;
}


.slide-group {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.slide:first-child {
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;
}

.fa-circle {
  font-size: .7rem;
  margin: 1%;
  color: #C41E36;
  
}

.slide-buttons {
  position: relative;
  left: 45%;
  margin-top: -4%;
  margin-bottom: 5%;
}

.active {
  color: yellow;
  
}


/*Officer Styles*/

.officer-div li {
  list-style: none;
}

.pic {
  border-radius: 50%;
}

.officer-div {
  padding: 10% 11%;
}

.officer-info .name h4 {
  font-family: 'Courgette', cursive;
  font-size: 3rem;
  margin-bottom: 0;
  display: inline;
}

.officer-info .name {
  display: inline;
  
}

.officer-info .position {
  font-family: 'Courgette', cursive;
  font-size: 2rem;
}

.officer-info .flag, .officer-info .flag2 {
  display: inline;
}

.officer-info .flag img, .officer-info .flag2 img {
  height: 3rem;
  width: 55px;
  margin-bottom: 0;
  margin-left: 5%;
  position: relative;
  top: -5px;
}

.officer-info {
  padding: 5%;
  
}

.officer {
  padding: 7%;
  border-top: 2px solid rgba(128,128,128, 0.4);
}

.officer:last-child {
  border-bottom: 2px solid rgba(128,128,128, 0.4);
  
}

.congrats {
  text-align: center;
  margin-bottom: 5%;
  font-weight: bold;
}

/*Calendar styles*/


.calendar-div { 
  background-color: #C9C9CB;
  position: relative; 
  padding-bottom: 75%; 
  height: 0; 
  overflow: hidden;
}

.calendar-div iframe {
  position: absolute; 
  top:0; 
  left: 0; 
  width: 90%; 
  height: 80%;
  padding-left: 10%;
  padding-top: 15%;
  
}